<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @test_team.active %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @test_team.alias %>
</p>

<p>
  <strong>City:</strong>
  <%= @test_team.city %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @test_team.conference %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @test_team.conference_id %>
</p>

<p>
  <strong>Created:</strong>
  <%= @test_team.created %>
</p>

<p>
  <strong>Division:</strong>
  <%= @test_team.division %>
</p>

<p>
  <strong>Division:</strong>
  <%= @test_team.division_id %>
</p>

<p>
  <strong>Global:</strong>
  <%= @test_team.global_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @test_team.team_id %>
</p>

<p>
  <strong>Local team:</strong>
  <%= @test_team.local_team %>
</p>

<p>
  <strong>Logo 120x120:</strong>
  <%= @test_team.logo_120x120 %>
</p>

<p>
  <strong>Logo 30x30:</strong>
  <%= @test_team.logo_30x30 %>
</p>

<p>
  <strong>Logo 40x40:</strong>
  <%= @test_team.logo_40x40 %>
</p>

<p>
  <strong>Logo 60x60:</strong>
  <%= @test_team.logo_60x60 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @test_team.name %>
</p>

<p>
  <strong>Primary color:</strong>
  <%= @test_team.primary_color %>
</p>

<p>
  <strong>Record:</strong>
  <%= @test_team.record %>
</p>

<p>
  <strong>Resource uri:</strong>
  <%= @test_team.resource_uri %>
</p>

<p>
  <strong>Secondary color:</strong>
  <%= @test_team.secondary_color %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @test_team.slug %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @test_team.stats_id %>
</p>

<p>
  <strong>Total defensive rank:</strong>
  <%= @test_team.total_defensive_rank %>
</p>

<p>
  <strong>Total offensive rank:</strong>
  <%= @test_team.total_offensive_rank %>
</p>

<p>
  <strong>Total passing defense rank:</strong>
  <%= @test_team.total_passing_defense_rank %>
</p>

<p>
  <strong>Total passing offense rank:</strong>
  <%= @test_team.total_passing_offense_rank %>
</p>

<p>
  <strong>Total rushing defense rank:</strong>
  <%= @test_team.total_rushing_defense_rank %>
</p>

<p>
  <strong>Total rushing offense rank:</strong>
  <%= @test_team.total_rushing_offense_rank %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @test_team.updated %>
</p>

<%= link_to 'Edit', edit_test_team_path(@test_team) %> |
<%= link_to 'Back', test_teams_path %>
