<p id="notice"><%= notice %></p>

<p>
  <strong>Leagueid:</strong>
  <%= @league.leagueID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @league.password %>
</p>

<p>
  <strong>Numplayers:</strong>
  <%= @league.numPlayers %>
</p>

<p>
  <strong>Member1:</strong>
  <%= @league.member1 %>
</p>

<p>
  <strong>Member2:</strong>
  <%= @league.member2 %>
</p>

<p>
  <strong>Member3:</strong>
  <%= @league.member3 %>
</p>

<p>
  <strong>Member4:</strong>
  <%= @league.member4 %>
</p>

<p>
  <strong>Member5:</strong>
  <%= @league.member5 %>
</p>

<p>
  <strong>Member6:</strong>
  <%= @league.member6 %>
</p>

<p>
  <strong>Gamesofweekidentifier:</strong>
  <%= @league.gamesOfWeekIdentifier %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
