<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @test_team_stat.active %>
</p>

<p>
  <strong>Created:</strong>
  <%= @test_team_stat.created %>
</p>

<p>
  <strong>Defense assists:</strong>
  <%= @test_team_stat.defense_assists %>
</p>

<p>
  <strong>Defense forced fumbles:</strong>
  <%= @test_team_stat.defense_forced_fumbles %>
</p>

<p>
  <strong>Defense misc assists:</strong>
  <%= @test_team_stat.defense_misc_assists %>
</p>

<p>
  <strong>Defense misc tackles:</strong>
  <%= @test_team_stat.defense_misc_tackles %>
</p>

<p>
  <strong>Defense passes defenced:</strong>
  <%= @test_team_stat.defense_passes_defenced %>
</p>

<p>
  <strong>Defense sack yards:</strong>
  <%= @test_team_stat.defense_sack_yards %>
</p>

<p>
  <strong>Defense sacks:</strong>
  <%= @test_team_stat.defense_sacks %>
</p>

<p>
  <strong>Defense sp assists:</strong>
  <%= @test_team_stat.defense_sp_assists %>
</p>

<p>
  <strong>Defense sp tackles:</strong>
  <%= @test_team_stat.defense_sp_tackles %>
</p>

<p>
  <strong>Defense stuff yards:</strong>
  <%= @test_team_stat.defense_stuff_yards %>
</p>

<p>
  <strong>Defense stuffs:</strong>
  <%= @test_team_stat.defense_stuffs %>
</p>

<p>
  <strong>Defense tackles:</strong>
  <%= @test_team_stat.defense_tackles %>
</p>

<p>
  <strong>Fg attempted:</strong>
  <%= @test_team_stat.fg_attempted %>
</p>

<p>
  <strong>Fg blocked:</strong>
  <%= @test_team_stat.fg_blocked %>
</p>

<p>
  <strong>Fg distances:</strong>
  <%= @test_team_stat.fg_distances %>
</p>

<p>
  <strong>Fg long:</strong>
  <%= @test_team_stat.fg_long %>
</p>

<p>
  <strong>Fg made:</strong>
  <%= @test_team_stat.fg_made %>
</p>

<p>
  <strong>First downs passing:</strong>
  <%= @test_team_stat.first_downs_passing %>
</p>

<p>
  <strong>First downs penalty:</strong>
  <%= @test_team_stat.first_downs_penalty %>
</p>

<p>
  <strong>First downs rushing:</strong>
  <%= @test_team_stat.first_downs_rushing %>
</p>

<p>
  <strong>First downs total:</strong>
  <%= @test_team_stat.first_downs_total %>
</p>

<p>
  <strong>Fourth down attempts:</strong>
  <%= @test_team_stat.fourth_down_attempts %>
</p>

<p>
  <strong>Fourth down made:</strong>
  <%= @test_team_stat.fourth_down_made %>
</p>

<p>
  <strong>Fumble fumbles:</strong>
  <%= @test_team_stat.fumble_fumbles %>
</p>

<p>
  <strong>Fumble lost fumbles:</strong>
  <%= @test_team_stat.fumble_lost_fumbles %>
</p>

<p>
  <strong>Fumble own recovered:</strong>
  <%= @test_team_stat.fumble_own_recovered %>
</p>

<p>
  <strong>Fumble own recovered td:</strong>
  <%= @test_team_stat.fumble_own_recovered_td %>
</p>

<p>
  <strong>Fumble own recovered yards:</strong>
  <%= @test_team_stat.fumble_own_recovered_yards %>
</p>

<p>
  <strong>Game:</strong>
  <%= @test_team_stat.game %>
</p>

<p>
  <strong>Goal to go attemps:</strong>
  <%= @test_team_stat.goal_to_go_attemps %>
</p>

<p>
  <strong>Goal to go made:</strong>
  <%= @test_team_stat.goal_to_go_made %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @test_team_stat.stat_id %>
</p>

<p>
  <strong>Interception return attempts:</strong>
  <%= @test_team_stat.interception_return_attempts %>
</p>

<p>
  <strong>Interception return long:</strong>
  <%= @test_team_stat.interception_return_long %>
</p>

<p>
  <strong>Interception return long td:</strong>
  <%= @test_team_stat.interception_return_long_td %>
</p>

<p>
  <strong>Interception return touchdowns:</strong>
  <%= @test_team_stat.interception_return_touchdowns %>
</p>

<p>
  <strong>Interception return yards:</strong>
  <%= @test_team_stat.interception_return_yards %>
</p>

<p>
  <strong>Interceptions:</strong>
  <%= @test_team_stat.interceptions %>
</p>

<p>
  <strong>Kick return long:</strong>
  <%= @test_team_stat.kick_return_long %>
</p>

<p>
  <strong>Kick return long td:</strong>
  <%= @test_team_stat.kick_return_long_td %>
</p>

<p>
  <strong>Kick return touchdowns:</strong>
  <%= @test_team_stat.kick_return_touchdowns %>
</p>

<p>
  <strong>Kick return yards:</strong>
  <%= @test_team_stat.kick_return_yards %>
</p>

<p>
  <strong>Kick returns:</strong>
  <%= @test_team_stat.kick_returns %>
</p>

<p>
  <strong>Kickoffs:</strong>
  <%= @test_team_stat.kickoffs %>
</p>

<p>
  <strong>Kickoffs end zone:</strong>
  <%= @test_team_stat.kickoffs_end_zone %>
</p>

<p>
  <strong>Kickoffs touchback:</strong>
  <%= @test_team_stat.kickoffs_touchback %>
</p>

<p>
  <strong>Opponent fumbles recovered:</strong>
  <%= @test_team_stat.opponent_fumbles_recovered %>
</p>

<p>
  <strong>Opponent fumbles td:</strong>
  <%= @test_team_stat.opponent_fumbles_td %>
</p>

<p>
  <strong>Opponent fumbles yards:</strong>
  <%= @test_team_stat.opponent_fumbles_yards %>
</p>

<p>
  <strong>Passing attempts:</strong>
  <%= @test_team_stat.passing_attempts %>
</p>

<p>
  <strong>Passing completions:</strong>
  <%= @test_team_stat.passing_completions %>
</p>

<p>
  <strong>Passing interceptions:</strong>
  <%= @test_team_stat.passing_interceptions %>
</p>

<p>
  <strong>Passing long:</strong>
  <%= @test_team_stat.passing_long %>
</p>

<p>
  <strong>Passing long td:</strong>
  <%= @test_team_stat.passing_long_td %>
</p>

<p>
  <strong>Passing net yards:</strong>
  <%= @test_team_stat.passing_net_yards %>
</p>

<p>
  <strong>Passing sacked:</strong>
  <%= @test_team_stat.passing_sacked %>
</p>

<p>
  <strong>Passing touchdowns:</strong>
  <%= @test_team_stat.passing_touchdowns %>
</p>

<p>
  <strong>Passing yards:</strong>
  <%= @test_team_stat.passing_yards %>
</p>

<p>
  <strong>Passing yards lost:</strong>
  <%= @test_team_stat.passing_yards_lost %>
</p>

<p>
  <strong>Penalty penalties:</strong>
  <%= @test_team_stat.penalty_penalties %>
</p>

<p>
  <strong>Penalty yards:</strong>
  <%= @test_team_stat.penalty_yards %>
</p>

<p>
  <strong>Possession minutes:</strong>
  <%= @test_team_stat.possession_minutes %>
</p>

<p>
  <strong>Possession seconds:</strong>
  <%= @test_team_stat.possession_seconds %>
</p>

<p>
  <strong>Punt return long:</strong>
  <%= @test_team_stat.punt_return_long %>
</p>

<p>
  <strong>Punt return long td:</strong>
  <%= @test_team_stat.punt_return_long_td %>
</p>

<p>
  <strong>Punt return touchdowns:</strong>
  <%= @test_team_stat.punt_return_touchdowns %>
</p>

<p>
  <strong>Punt return yards:</strong>
  <%= @test_team_stat.punt_return_yards %>
</p>

<p>
  <strong>Punt returns:</strong>
  <%= @test_team_stat.punt_returns %>
</p>

<p>
  <strong>Punting inside 20:</strong>
  <%= @test_team_stat.punting_inside_20 %>
</p>

<p>
  <strong>Punting long:</strong>
  <%= @test_team_stat.punting_long %>
</p>

<p>
  <strong>Punting return yards:</strong>
  <%= @test_team_stat.punting_return_yards %>
</p>

<p>
  <strong>Punting returns:</strong>
  <%= @test_team_stat.punting_returns %>
</p>

<p>
  <strong>Punting touchbacks:</strong>
  <%= @test_team_stat.punting_touchbacks %>
</p>

<p>
  <strong>Punting yards:</strong>
  <%= @test_team_stat.punting_yards %>
</p>

<p>
  <strong>Punts:</strong>
  <%= @test_team_stat.punts %>
</p>

<p>
  <strong>Punts blocked:</strong>
  <%= @test_team_stat.punts_blocked %>
</p>

<p>
  <strong>Receiving long:</strong>
  <%= @test_team_stat.receiving_long %>
</p>

<p>
  <strong>Receiving long td:</strong>
  <%= @test_team_stat.receiving_long_td %>
</p>

<p>
  <strong>Receiving targets:</strong>
  <%= @test_team_stat.receiving_targets %>
</p>

<p>
  <strong>Receiving tds:</strong>
  <%= @test_team_stat.receiving_tds %>
</p>

<p>
  <strong>Receiving yards:</strong>
  <%= @test_team_stat.receiving_yards %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @test_team_stat.receptions %>
</p>

<p>
  <strong>Red zone attempts:</strong>
  <%= @test_team_stat.red_zone_attempts %>
</p>

<p>
  <strong>Red zone made:</strong>
  <%= @test_team_stat.red_zone_made %>
</p>

<p>
  <strong>Resource uri:</strong>
  <%= @test_team_stat.resource_uri %>
</p>

<p>
  <strong>Return total touchdowns:</strong>
  <%= @test_team_stat.return_total_touchdowns %>
</p>

<p>
  <strong>Return total yards:</strong>
  <%= @test_team_stat.return_total_yards %>
</p>

<p>
  <strong>Rushing attempts:</strong>
  <%= @test_team_stat.rushing_attempts %>
</p>

<p>
  <strong>Rushing long:</strong>
  <%= @test_team_stat.rushing_long %>
</p>

<p>
  <strong>Rushing long td:</strong>
  <%= @test_team_stat.rushing_long_td %>
</p>

<p>
  <strong>Rushing touchdowns:</strong>
  <%= @test_team_stat.rushing_touchdowns %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @test_team_stat.rushing_yards %>
</p>

<p>
  <strong>Safeties:</strong>
  <%= @test_team_stat.safeties %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @test_team_stat.slug %>
</p>

<p>
  <strong>Team:</strong>
  <%= @test_team_stat.team %>
</p>

<p>
  <strong>Third down attempts:</strong>
  <%= @test_team_stat.third_down_attempts %>
</p>

<p>
  <strong>Third down made:</strong>
  <%= @test_team_stat.third_down_made %>
</p>

<p>
  <strong>Total net yards:</strong>
  <%= @test_team_stat.total_net_yards %>
</p>

<p>
  <strong>Total plays:</strong>
  <%= @test_team_stat.total_plays %>
</p>

<p>
  <strong>Total touchdowns:</strong>
  <%= @test_team_stat.total_touchdowns %>
</p>

<p>
  <strong>Turnovers:</strong>
  <%= @test_team_stat.turnovers %>
</p>

<p>
  <strong>Two point conversions:</strong>
  <%= @test_team_stat.two_point_conversions %>
</p>

<p>
  <strong>Two point conversions attempted:</strong>
  <%= @test_team_stat.two_point_conversions_attempted %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @test_team_stat.updated %>
</p>

<p>
  <strong>Xp attempts:</strong>
  <%= @test_team_stat.xp_attempts %>
</p>

<p>
  <strong>Xp blocked:</strong>
  <%= @test_team_stat.xp_blocked %>
</p>

<p>
  <strong>Xp made:</strong>
  <%= @test_team_stat.xp_made %>
</p>

<%= link_to 'Edit', edit_test_team_stat_path(@test_team_stat) %> |
<%= link_to 'Back', test_team_stats_path %>
