<p id="notice"><%= notice %></p>

<p>
  <strong>Gamekey:</strong>
  <%= @games_of_week.gameKey %>
</p>

<p>
  <strong>Gameid:</strong>
  <%= @games_of_week.gameID %>
</p>

<p>
  <strong>Time:</strong>
  <%= @games_of_week.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @games_of_week.date %>
</p>

<p>
  <strong>Hometeam:</strong>
  <%= @games_of_week.homeTeam %>
</p>

<p>
  <strong>Awayteam:</strong>
  <%= @games_of_week.awayTeam %>
</p>

<%= link_to 'Edit', edit_games_of_week_path(@games_of_week) %> |
<%= link_to 'Back', games_of_weeks_path %>
