<p id="notice"><%= notice %></p>

<p>
  <strong>Gamekey:</strong>
  <%= @gamesofweek.gameKey %>
</p>

<p>
  <strong>Gameid:</strong>
  <%= @gamesofweek.gameID %>
</p>

<p>
  <strong>Time:</strong>
  <%= @gamesofweek.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @gamesofweek.date %>
</p>

<p>
  <strong>Hometeam:</strong>
  <%= @gamesofweek.homeTeam %>
</p>

<p>
  <strong>Awayteam:</strong>
  <%= @gamesofweek.awayTeam %>
</p>

<%= link_to 'Edit', edit_gamesofweek_path(@gamesofweek) %> |
<%= link_to 'Back', gamesofweeks_path %>
