<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userID %><br>
    <%= f.number_field :userID %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :phoneCred %><br>
    <%= f.text_field :phoneCred %>
  </div>
  <div class="field">
    <%= f.label :won %><br>
    <%= f.number_field :won %>
  </div>
  <div class="field">
    <%= f.label :lost %><br>
    <%= f.number_field :lost %>
  </div>
  <div class="field">
    <%= f.label :previousGamePlace %><br>
    <%= f.number_field :previousGamePlace %>
  </div>
  <div class="field">
    <%= f.label :leagueName %><br>
    <%= f.text_field :leagueName %>
  </div>
  <div class="field">
    <%= f.label :rosterID %><br>
    <%= f.number_field :rosterID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
