<p id="notice"><%= notice %></p>

<p>
  <strong>Active state:</strong>
  <%= @test_active.active_state %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @test_active.distance %>
</p>

<p>
  <strong>Down:</strong>
  <%= @test_active.down %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @test_active.minutes %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @test_active.quarter %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @test_active.seconds %>
</p>

<p>
  <strong>Segment number:</strong>
  <%= @test_active.segment_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_active.status %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_active.status_id %>
</p>

<p>
  <strong>Team possession:</strong>
  <%= @test_active.team_possession_id %>
</p>

<p>
  <strong>Under review:</strong>
  <%= @test_active.under_review %>
</p>

<p>
  <strong>Yards from goal:</strong>
  <%= @test_active.yards_from_goal %>
</p>

<%= link_to 'Edit', edit_test_active_path(@test_active) %> |
<%= link_to 'Back', test_actives_path %>
