<p id="notice"><%= notice %></p>

<p>
  <strong>Nflplayerid:</strong>
  <%= @seasonplayerdatum.NFLPlayerID %>
</p>

<p>
  <strong>Cbsid:</strong>
  <%= @seasonplayerdatum.cbsID %>
</p>

<p>
  <strong>Nerdid:</strong>
  <%= @seasonplayerdatum.nerdID %>
</p>

<p>
  <strong>Currentteam:</strong>
  <%= @seasonplayerdatum.CurrentTeam %>
</p>

<p>
  <strong>Fantasyposition:</strong>
  <%= @seasonplayerdatum.FantasyPosition %>
</p>

<p>
  <strong>Number:</strong>
  <%= @seasonplayerdatum.Number %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @seasonplayerdatum.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @seasonplayerdatum.LastName %>
</p>

<p>
  <strong>Initialauctionvalue:</strong>
  <%= @seasonplayerdatum.InitialAuctionValue %>
</p>

<p>
  <strong>Currentauctionvalue:</strong>
  <%= @seasonplayerdatum.CurrentAuctionValue %>
</p>

<p>
  <strong>Projfantasypoints:</strong>
  <%= @seasonplayerdatum.projFantasyPoints %>
</p>

<p>
  <strong>Projfantasypointsmark:</strong>
  <%= @seasonplayerdatum.projFantasyPointsMark %>
</p>

<p>
  <strong>Lastplayedpoints:</strong>
  <%= @seasonplayerdatum.LastPlayedPoints %>
</p>

<%= link_to 'Edit', edit_seasonplayerdatum_path(@seasonplayerdatum) %> |
<%= link_to 'Back', seasonplayerdata_path %>
