<p id="notice"><%= notice %></p>

<p>
  <strong>Defense assists:</strong>
  <%= @test_play_stat.defense_assists %>
</p>

<p>
  <strong>Defense forced fumbles:</strong>
  <%= @test_play_stat.defense_forced_fumbles %>
</p>

<p>
  <strong>Defense misc assists:</strong>
  <%= @test_play_stat.defense_misc_assists %>
</p>

<p>
  <strong>Defense misc tackles:</strong>
  <%= @test_play_stat.defense_misc_tackles %>
</p>

<p>
  <strong>Defense passes defensed:</strong>
  <%= @test_play_stat.defense_passes_defensed %>
</p>

<p>
  <strong>Defense sack yards:</strong>
  <%= @test_play_stat.defense_sack_yards %>
</p>

<p>
  <strong>Defense sacks:</strong>
  <%= @test_play_stat.defense_sacks %>
</p>

<p>
  <strong>Defense sp assists:</strong>
  <%= @test_play_stat.defense_sp_assists %>
</p>

<p>
  <strong>Defense sp tackles:</strong>
  <%= @test_play_stat.defense_sp_tackles %>
</p>

<p>
  <strong>Defense stuff yards:</strong>
  <%= @test_play_stat.defense_stuff_yards %>
</p>

<p>
  <strong>Defense stuffs:</strong>
  <%= @test_play_stat.defense_stuffs %>
</p>

<p>
  <strong>Defense tackles:</strong>
  <%= @test_play_stat.defense_tackles %>
</p>

<p>
  <strong>Fg attempted:</strong>
  <%= @test_play_stat.fg_attempted %>
</p>

<p>
  <strong>Fg blocked:</strong>
  <%= @test_play_stat.fg_blocked %>
</p>

<p>
  <strong>Fg distances:</strong>
  <%= @test_play_stat.fg_distances %>
</p>

<p>
  <strong>Fg long:</strong>
  <%= @test_play_stat.fg_long %>
</p>

<p>
  <strong>Fg made:</strong>
  <%= @test_play_stat.fg_made %>
</p>

<p>
  <strong>Fumble fumbles:</strong>
  <%= @test_play_stat.fumble_fumbles %>
</p>

<p>
  <strong>Fumble lost fumbles:</strong>
  <%= @test_play_stat.fumble_lost_fumbles %>
</p>

<p>
  <strong>Fumble own recovered:</strong>
  <%= @test_play_stat.fumble_own_recovered %>
</p>

<p>
  <strong>Fumble own recovered td:</strong>
  <%= @test_play_stat.fumble_own_recovered_td %>
</p>

<p>
  <strong>Fumble own recovered yards:</strong>
  <%= @test_play_stat.fumble_own_recovered_yards %>
</p>

<p>
  <strong>Interception return attempts:</strong>
  <%= @test_play_stat.interception_return_attempts %>
</p>

<p>
  <strong>Interception return long:</strong>
  <%= @test_play_stat.interception_return_long %>
</p>

<p>
  <strong>Interception return long td:</strong>
  <%= @test_play_stat.interception_return_long_td %>
</p>

<p>
  <strong>Interception return touchdowns:</strong>
  <%= @test_play_stat.interception_return_touchdowns %>
</p>

<p>
  <strong>Interception return yards:</strong>
  <%= @test_play_stat.interception_return_yards %>
</p>

<p>
  <strong>Interceptions:</strong>
  <%= @test_play_stat.interceptions %>
</p>

<p>
  <strong>Kick return long:</strong>
  <%= @test_play_stat.kick_return_long %>
</p>

<p>
  <strong>Kick return long td:</strong>
  <%= @test_play_stat.kick_return_long_td %>
</p>

<p>
  <strong>Kick return touchdowns:</strong>
  <%= @test_play_stat.kick_return_touchdowns %>
</p>

<p>
  <strong>Kick return yards:</strong>
  <%= @test_play_stat.kick_return_yards %>
</p>

<p>
  <strong>Kick returns:</strong>
  <%= @test_play_stat.kick_returns %>
</p>

<p>
  <strong>Kickoffs:</strong>
  <%= @test_play_stat.kickoffs %>
</p>

<p>
  <strong>Kickoffs end zone:</strong>
  <%= @test_play_stat.kickoffs_end_zone %>
</p>

<p>
  <strong>Kickoffs touchback:</strong>
  <%= @test_play_stat.kickoffs_touchback %>
</p>

<p>
  <strong>Opponent fumbles recovered:</strong>
  <%= @test_play_stat.opponent_fumbles_recovered %>
</p>

<p>
  <strong>Opponent fumbles td:</strong>
  <%= @test_play_stat.opponent_fumbles_td %>
</p>

<p>
  <strong>Opponent fumbles yards:</strong>
  <%= @test_play_stat.opponent_fumbles_yards %>
</p>

<p>
  <strong>Passing attempts:</strong>
  <%= @test_play_stat.passing_attempts %>
</p>

<p>
  <strong>Passing completions:</strong>
  <%= @test_play_stat.passing_completions %>
</p>

<p>
  <strong>Passing interceptions:</strong>
  <%= @test_play_stat.passing_interceptions %>
</p>

<p>
  <strong>Passing long:</strong>
  <%= @test_play_stat.passing_long %>
</p>

<p>
  <strong>Passing long td:</strong>
  <%= @test_play_stat.passing_long_td %>
</p>

<p>
  <strong>Passing net yards:</strong>
  <%= @test_play_stat.passing_net_yards %>
</p>

<p>
  <strong>Passing sacked:</strong>
  <%= @test_play_stat.passing_sacked %>
</p>

<p>
  <strong>Passing touchdowns:</strong>
  <%= @test_play_stat.passing_touchdowns %>
</p>

<p>
  <strong>Passing yards:</strong>
  <%= @test_play_stat.passing_yards %>
</p>

<p>
  <strong>Passing yards lost:</strong>
  <%= @test_play_stat.passing_yards_lost %>
</p>

<p>
  <strong>Penalty penalties:</strong>
  <%= @test_play_stat.penalty_penalties %>
</p>

<p>
  <strong>Penalty yards:</strong>
  <%= @test_play_stat.penalty_yards %>
</p>

<p>
  <strong>Player  first name:</strong>
  <%= @test_play_stat.player__first_name %>
</p>

<p>
  <strong>Player  global:</strong>
  <%= @test_play_stat.player__global_id %>
</p>

<p>
  <strong>Player  last name:</strong>
  <%= @test_play_stat.player__last_name %>
</p>

<p>
  <strong>Player  number:</strong>
  <%= @test_play_stat.player__number %>
</p>

<p>
  <strong>Player  position:</strong>
  <%= @test_play_stat.player__position %>
</p>

<p>
  <strong>Punt return long:</strong>
  <%= @test_play_stat.punt_return_long %>
</p>

<p>
  <strong>Punt return long td:</strong>
  <%= @test_play_stat.punt_return_long_td %>
</p>

<p>
  <strong>Punt return touchdowns:</strong>
  <%= @test_play_stat.punt_return_touchdowns %>
</p>

<p>
  <strong>Punt return yards:</strong>
  <%= @test_play_stat.punt_return_yards %>
</p>

<p>
  <strong>Punt returns:</strong>
  <%= @test_play_stat.punt_returns %>
</p>

<p>
  <strong>Punting inside 20:</strong>
  <%= @test_play_stat.punting_inside_20 %>
</p>

<p>
  <strong>Punting long:</strong>
  <%= @test_play_stat.punting_long %>
</p>

<p>
  <strong>Punting return yards:</strong>
  <%= @test_play_stat.punting_return_yards %>
</p>

<p>
  <strong>Punting returns:</strong>
  <%= @test_play_stat.punting_returns %>
</p>

<p>
  <strong>Punting touchbacks:</strong>
  <%= @test_play_stat.punting_touchbacks %>
</p>

<p>
  <strong>Punting yards:</strong>
  <%= @test_play_stat.punting_yards %>
</p>

<p>
  <strong>Punts:</strong>
  <%= @test_play_stat.punts %>
</p>

<p>
  <strong>Punts blocked:</strong>
  <%= @test_play_stat.punts_blocked %>
</p>

<p>
  <strong>Receiving long:</strong>
  <%= @test_play_stat.receiving_long %>
</p>

<p>
  <strong>Receiving long td:</strong>
  <%= @test_play_stat.receiving_long_td %>
</p>

<p>
  <strong>Receiving targets:</strong>
  <%= @test_play_stat.receiving_targets %>
</p>

<p>
  <strong>Receiving tds:</strong>
  <%= @test_play_stat.receiving_tds %>
</p>

<p>
  <strong>Receiving yards:</strong>
  <%= @test_play_stat.receiving_yards %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @test_play_stat.receptions %>
</p>

<p>
  <strong>Return total touchdowns:</strong>
  <%= @test_play_stat.return_total_touchdowns %>
</p>

<p>
  <strong>Return total yards:</strong>
  <%= @test_play_stat.return_total_yards %>
</p>

<p>
  <strong>Rushing attempts:</strong>
  <%= @test_play_stat.rushing_attempts %>
</p>

<p>
  <strong>Rushing long:</strong>
  <%= @test_play_stat.rushing_long %>
</p>

<p>
  <strong>Rushing long td:</strong>
  <%= @test_play_stat.rushing_long_td %>
</p>

<p>
  <strong>Rushing touchdowns:</strong>
  <%= @test_play_stat.rushing_touchdowns %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @test_play_stat.rushing_yards %>
</p>

<p>
  <strong>Safeties:</strong>
  <%= @test_play_stat.safeties %>
</p>

<p>
  <strong>Two point conversions:</strong>
  <%= @test_play_stat.two_point_conversions %>
</p>

<p>
  <strong>Two point conversions attempted:</strong>
  <%= @test_play_stat.two_point_conversions_attempted %>
</p>

<p>
  <strong>Xp attempts:</strong>
  <%= @test_play_stat.xp_attempts %>
</p>

<p>
  <strong>Xp blocked:</strong>
  <%= @test_play_stat.xp_blocked %>
</p>

<p>
  <strong>Xp made:</strong>
  <%= @test_play_stat.xp_made %>
</p>

<%= link_to 'Edit', edit_test_play_stat_path(@test_play_stat) %> |
<%= link_to 'Back', test_play_stats_path %>
