<p id="notice"><%= notice %></p>

<p>
  <strong>Nflplayerid:</strong>
  <%= @weekplayerdatum.NFLPlayerID %>
</p>

<p>
  <strong>Slotid:</strong>
  <%= @weekplayerdatum.SlotID %>
</p>

<p>
  <strong>Currentauctionvalue:</strong>
  <%= @weekplayerdatum.CurrentAuctionValue %>
</p>

<p>
  <strong>Fantasypoints:</strong>
  <%= @weekplayerdatum.FantasyPoints %>
</p>

<p>
  <strong>Passyds:</strong>
  <%= @weekplayerdatum.Passyds %>
</p>

<p>
  <strong>Rushyds:</strong>
  <%= @weekplayerdatum.Rushyds %>
</p>

<p>
  <strong>Rcvyds:</strong>
  <%= @weekplayerdatum.Rcvyds %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @weekplayerdatum.Fumbles %>
</p>

<p>
  <strong>Tdpass:</strong>
  <%= @weekplayerdatum.TDPass %>
</p>

<p>
  <strong>Twopointpass:</strong>
  <%= @weekplayerdatum.TwoPointPass %>
</p>

<p>
  <strong>Twopointrush:</strong>
  <%= @weekplayerdatum.TwoPointRush %>
</p>

<p>
  <strong>Tdrush:</strong>
  <%= @weekplayerdatum.TDRush %>
</p>

<p>
  <strong>Tdrcv:</strong>
  <%= @weekplayerdatum.TDRcv %>
</p>

<p>
  <strong>Twopointrcv:</strong>
  <%= @weekplayerdatum.TwoPointRcv %>
</p>

<p>
  <strong>Extrapoint:</strong>
  <%= @weekplayerdatum.ExtraPoint %>
</p>

<p>
  <strong>Fieldgoal:</strong>
  <%= @weekplayerdatum.FieldGoal %>
</p>

<%= link_to 'Edit', edit_weekplayerdatum_path(@weekplayerdatum) %> |
<%= link_to 'Back', weekplayerdata_path %>
