<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @test_play.active %>
</p>

<p>
  <strong>Assist1:</strong>
  <%= @test_play.assist1 %>
</p>

<p>
  <strong>Assist1 global:</strong>
  <%= @test_play.assist1_global_id %>
</p>

<p>
  <strong>Assist1:</strong>
  <%= @test_play.assist1_id %>
</p>

<p>
  <strong>Assist2:</strong>
  <%= @test_play.assist2 %>
</p>

<p>
  <strong>Assist2 global:</strong>
  <%= @test_play.assist2_global_id %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @test_play.assist_id %>
</p>

<p>
  <strong>Away score after:</strong>
  <%= @test_play.away_score_after %>
</p>

<p>
  <strong>Away score before:</strong>
  <%= @test_play.away_score_before %>
</p>

<p>
  <strong>Continuation:</strong>
  <%= @test_play.continuation %>
</p>

<p>
  <strong>Details:</strong>
  <%= @test_play.details %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @test_play.direction %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @test_play.distance %>
</p>

<p>
  <strong>Down:</strong>
  <%= @test_play.down %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @test_play.drive_id %>
</p>

<p>
  <strong>End possession:</strong>
  <%= @test_play.end_possession %>
</p>

<p>
  <strong>End yardline:</strong>
  <%= @test_play.end_yardline %>
</p>

<p>
  <strong>Game:</strong>
  <%= @test_play.game %>
</p>

<p>
  <strong>Game time:</strong>
  <%= @test_play.game_time %>
</p>

<p>
  <strong>Game time minute:</strong>
  <%= @test_play.game_time_minute %>
</p>

<p>
  <strong>Game time second:</strong>
  <%= @test_play.game_time_second %>
</p>

<p>
  <strong>Home score after:</strong>
  <%= @test_play.home_score_after %>
</p>

<p>
  <strong>Home score before:</strong>
  <%= @test_play.home_score_before %>
</p>

<p>
  <strong>Play:</strong>
  <%= @test_play.play_id %>
</p>

<p>
  <strong>Pass defensed1:</strong>
  <%= @test_play.pass_defensed1 %>
</p>

<p>
  <strong>Pass defensed1:</strong>
  <%= @test_play.pass_defensed1_id %>
</p>

<p>
  <strong>Pat type:</strong>
  <%= @test_play.pat_type %>
</p>

<p>
  <strong>Pat value:</strong>
  <%= @test_play.pat_value %>
</p>

<p>
  <strong>Play type:</strong>
  <%= @test_play.play_type %>
</p>

<p>
  <strong>Play type:</strong>
  <%= @test_play.play_type_id %>
</p>

<p>
  <strong>Player1 global:</strong>
  <%= @test_play.player1_global_id %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @test_play.player1_id %>
</p>

<p>
  <strong>Player2 global:</strong>
  <%= @test_play.player2_global_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @test_play.player2_id %>
</p>

<p>
  <strong>Player3 global:</strong>
  <%= @test_play.player3_global_id %>
</p>

<p>
  <strong>Player3:</strong>
  <%= @test_play.player3_id %>
</p>

<p>
  <strong>Possession:</strong>
  <%= @test_play.possession %>
</p>

<p>
  <strong>Quarter:</strong>
  <%= @test_play.quarter %>
</p>

<p>
  <strong>Resource uri:</strong>
  <%= @test_play.resource_uri %>
</p>

<p>
  <strong>Review team:</strong>
  <%= @test_play.review_team %>
</p>

<p>
  <strong>Review team global:</strong>
  <%= @test_play.review_team_global_id %>
</p>

<p>
  <strong>Review team:</strong>
  <%= @test_play.review_team_id %>
</p>

<p>
  <strong>Score description:</strong>
  <%= @test_play.score_description %>
</p>

<p>
  <strong>Score type:</strong>
  <%= @test_play.score_type %>
</p>

<p>
  <strong>Scoring play:</strong>
  <%= @test_play.scoring_play %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @test_play.slug %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @test_play.stats_id %>
</p>

<p>
  <strong>Tackle1:</strong>
  <%= @test_play.tackle1 %>
</p>

<p>
  <strong>Tackle1 global:</strong>
  <%= @test_play.tackle1_global_id %>
</p>

<p>
  <strong>Tackle1:</strong>
  <%= @test_play.tackle1_id %>
</p>

<p>
  <strong>Tackle2:</strong>
  <%= @test_play.tackle2 %>
</p>

<p>
  <strong>Tackle2 global:</strong>
  <%= @test_play.tackle2_global_id %>
</p>

<p>
  <strong>Tackle2:</strong>
  <%= @test_play.tackle2_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @test_play.target %>
</p>

<p>
  <strong>Target:</strong>
  <%= @test_play.target_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @test_play.time %>
</p>

<p>
  <strong>True time:</strong>
  <%= @test_play.true_time %>
</p>

<p>
  <strong>Yardline:</strong>
  <%= @test_play.yardline %>
</p>

<p>
  <strong>Yards:</strong>
  <%= @test_play.yards %>
</p>

<%= link_to 'Edit', edit_test_play_path(@test_play) %> |
<%= link_to 'Back', test_plays_path %>
