<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @test_object.active %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @test_object.away_team %>
</p>

<p>
  <strong>Away team stats:</strong>
  <%= @test_object.away_team_stats %>
</p>

<p>
  <strong>Away total score:</strong>
  <%= @test_object.away_total_score %>
</p>

<p>
  <strong>Created:</strong>
  <%= @test_object.created %>
</p>

<p>
  <strong>Final:</strong>
  <%= @test_object.final %>
</p>

<p>
  <strong>Finalbox:</strong>
  <%= @test_object.finalbox %>
</p>

<p>
  <strong>Game code:</strong>
  <%= @test_object.game_code %>
</p>

<p>
  <strong>Game date day:</strong>
  <%= @test_object.game_date_day %>
</p>

<p>
  <strong>Game date epoch time:</strong>
  <%= @test_object.game_date_epoch_time %>
</p>

<p>
  <strong>Game date month:</strong>
  <%= @test_object.game_date_month %>
</p>

<p>
  <strong>Game date time:</strong>
  <%= @test_object.game_date_time %>
</p>

<p>
  <strong>Game date year:</strong>
  <%= @test_object.game_date_year %>
</p>

<p>
  <strong>Game location:</strong>
  <%= @test_object.game_location %>
</p>

<p>
  <strong>Game progress:</strong>
  <%= @test_object.game_progress %>
</p>

<p>
  <strong>Game quarter time:</strong>
  <%= @test_object.game_quarter_time %>
</p>

<p>
  <strong>Game status:</strong>
  <%= @test_object.game_status %>
</p>

<p>
  <strong>Game status:</strong>
  <%= @test_object.game_status_id %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @test_object.game_type %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @test_object.game_type_id %>
</p>

<p>
  <strong>Global:</strong>
  <%= @test_object.global_id %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @test_object.home_team %>
</p>

<p>
  <strong>Home team stats:</strong>
  <%= @test_object.home_team_stats %>
</p>

<p>
  <strong>Home total score:</strong>
  <%= @test_object.home_total_score %>
</p>

<p>
  <strong>Objects:</strong>
  <%= @test_object.objects_id %>
</p>

<p>
  <strong>Latest play:</strong>
  <%= @test_object.latest_play %>
</p>

<p>
  <strong>Latest plays:</strong>
  <%= @test_object.latest_plays %>
</p>

<p>
  <strong>Line score:</strong>
  <%= @test_object.line_score %>
</p>

<p>
  <strong>Players:</strong>
  <%= @test_object.players %>
</p>

<p>
  <strong>Possession:</strong>
  <%= @test_object.possession %>
</p>

<p>
  <strong>Resource uri:</strong>
  <%= @test_object.resource_uri %>
</p>

<p>
  <strong>Scoring plays:</strong>
  <%= @test_object.scoring_plays %>
</p>

<p>
  <strong>Season:</strong>
  <%= @test_object.season %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @test_object.slug %>
</p>

<p>
  <strong>Status:</strong>
  <%= @test_object.status %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @test_object.summary %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @test_object.teams %>
</p>

<p>
  <strong>Tv station:</strong>
  <%= @test_object.tv_station %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @test_object.updated %>
</p>

<p>
  <strong>Updated epoch time:</strong>
  <%= @test_object.updated_epoch_time %>
</p>

<p>
  <strong>Week:</strong>
  <%= @test_object.week %>
</p>

<%= link_to 'Edit', edit_test_object_path(@test_object) %> |
<%= link_to 'Back', test_objects_path %>
